.shadow-block {
  top: calc(-30px + 25%);
  left: calc(30px + 27%);
  position: absolute;
  width: 525px;
  height: 400px;
  background-color: #C4C4C4;
  border-radius: 10px;
}

.sign-in-block {
  display: flex;
  flex-direction: column;
  top: 25%;
  left: 27%;
  position: absolute;
  width: 525px;
  height: 400px;
  background-color: white;
  border-radius: 10px;

  .title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 60px;
  }

  .form-block {
    text-align: center;

    .custom-input {
      align-self: center;
      margin-bottom: 30px;
      width: 350px;
    }
  }

  .action-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .custom-button {
      margin-right: 17px;
      width: 172px;
    }

    .sign-up-navigation {
      font-size: 13px;
    }
  }
}
