.dialog {
  width: 400px;
  height: 227px;

  .title {
    margin-top: 6px;
    margin-bottom: 43px;
    font-family: Recursive, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }

  .form-block {
    text-align: center;

    .custom-input {
      align-self: center;
      width: 327px;
    }
  }

  .action-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 11% 25px 0 16%;

    .custom-button {
      width: 171px;
      height: 38px;
      text-align: center;
    }

    .underline-text {
      font-size: 18px;
    }
  }
}

::ng-deep .mat-dialog-container {
  background-color: white;
  color: black;
  border-radius: 10px;
}
