<div class="dialog">
  <div mat-dialog-title
       class="title">
    Create folder
  </div>
  <form class="form-block"
        [formGroup]="editNameForm">
    <input type="text"
           class="custom-input"
           formControlName="name"
           placeholder="name">
  </form>
  <div class="action-btns">
    <div class="underline-text"
         (click)="closeDialog()">
      Close
    </div>
    <button class="custom-button"
            [disabled]="editNameForm.invalid"
            (click)="createFolder()">
      Save
    </button>
  </div>
</div>
