<div class="folders-block">
  <div class="top-block">
    <div class="title">{{title$ | async}}</div>
    <div class="create-folder underline-text"
         (click)="openCreateFolderModal()">
      + Create new folder
    </div>
  </div>
  <div class="folders-block">
    <div class="folder"
         *ngFor="let folder of (folders$ | async)">
      <div class="folder-name"
           (click)="openFolder(folder.id)">
        <img class="folder-img"
             ondragstart="return false;"
             src="assets/folder.png"
             alt="">
        <div class="name">
          {{folder.name}}
        </div>
      </div>
      <div class="action-btns">
        <img class="image"
             src="assets/edit.png"
             alt=""
             ondragstart="return false;"
             (click)="openEditFileNameModal(folder)"
             matTooltip="Edit name">
        <img class="image"
             src="assets/delete.png"
             alt=""
             ondragstart="return false;"
             (click)="openDeleteFileModal(folder)"
             matTooltip="Delete">
      </div>
    </div>
  </div>
</div>
