.files-block {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  .add-file-block {
    height: 122px;
    box-sizing: border-box;
    border: 4px dashed #FFFFFF;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;

    &:hover {
      border: 5px dashed #F4D6FF;

      svg {
        path {
          fill: #F4D6FF;
        }
      }
    }

    svg {
      margin: 12% 0;
    }
  }

  .file {
    cursor: move;
    height: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;

    .type {
      font-size: 35px;
      text-align: center;
    }

    .text-file {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding: 5px;
      font-size: 20px;

      .underline-text {
        margin-top: 10px;
        text-align: center;
      }
    }

    .image-file {
      box-sizing: border-box;
      border-radius: 10px;
      border: 2px solid white;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &:hover {
      box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.3);
    }
  }
}

.placeholder {
  width: 100%;
  height: 100%;
  background-color: black;
  border: 1px dashed white;
  box-shadow: none;
  box-sizing: border-box;
}
